/* ==========================================================================
   Footer
   ========================================================================== */

.site-footer {
    font-family: 'Open Sans';

    .container {
        width: 100%;
        max-width: 960px;
        margin: 0 auto;
    }

    h3 {
        font-size: 14px;
        font-weight: 700;
        color: #000;
        font-family: Raleway;
        text-transform: uppercase;
        margin: 40px 0 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
    }
}

.footer-main {
    @include clearfix;
    background: #eee;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

.footer-col1,
.footer-col2,
.footer-col3,
.footer-col4 {
    float: left;
    width: 25%;
    padding: 0 10px;
    font-weight: 600;
}

.footer-col1 {
    padding-left: 0;

    & > span {
        display: block;
        font-size: 12px;
        margin-bottom: 6px;

        &:first-of-type a,
        &:nth-of-type(2) a {
            color: #666;
        }

        &:nth-of-type(3) a,
        &:nth-of-type(4) a {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-align: center;
            -webkit-flex-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

        &:nth-of-type(3) a {
            color: #d92738;
        }

        &:nth-of-type(3) a:hover {
            color: #be2231;

            .icon-mail {
                background: #be2231;
            }
        }

        &:nth-of-type(4) a {
            color: #d92738;

            &:hover {
                color: #be2231;

                .icon-phone {
                    background: #be2231;
                }
            }
        }

        a {
            text-decoration: none;
        }
    }

    .icon-mail,
    .icon-phone {
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: #d92738;
        margin-right: 6px;
    }

    .icon-mail i {
        display: inline-block;
        width: 14px;
        height: 10px;
        background: url(assets/images/mail.png) no-repeat;
        position: relative;
        top: 5px;
        left: 5px;

        @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
            only screen and (   min--moz-device-pixel-ratio: 1.5),
            only screen and (     -o-min-device-pixel-ratio: 3/2),
            only screen and (        min-device-pixel-ratio: 1.5),
            only screen and (min-resolution: 192dpi) {
                background: url(assets/images/mail_2x.png) no-repeat;
                background-size: 100%;
            }

        @media  only screen and (-webkit-min-device-pixel-ratio: 2.5),
            only screen and (   min--moz-device-pixel-ratio: 2.5),
            only screen and (     -o-min-device-pixel-ratio: 5/2),
            only screen and (        min-device-pixel-ratio: 2.5),
            only screen and (min-resolution: 192dpi) {
                background: url(assets/images/mail_3x.png) no-repeat;
                background-size: 100%;
            }
    }


    .icon-phone i {
        display: inline-block;
        width: 14px;
        height: 14px;
        background: url(assets/images/phone-social.png) no-repeat;
        position: relative;
        top: 5px;
        left: 5px;

        @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
            only screen and (   min--moz-device-pixel-ratio: 1.5),
            only screen and (     -o-min-device-pixel-ratio: 3/2),
            only screen and (        min-device-pixel-ratio: 1.5),
            only screen and (min-resolution: 192dpi) {
                background: url(assets/images/phone-social_2x.png) no-repeat;
                background-size: 100%;
            }

        @media  only screen and (-webkit-min-device-pixel-ratio: 2.5),
            only screen and (   min--moz-device-pixel-ratio: 2.5),
            only screen and (     -o-min-device-pixel-ratio: 5/2),
            only screen and (        min-device-pixel-ratio: 2.5),
            only screen and (min-resolution: 192dpi) {
                background: url(assets/images/phone-social_3x.png) no-repeat;
                background-size: 100%;
            }
    }

    h3:nth-of-type(2) {
        margin: 20px 0 10px;
    }

    .social-list {
        @include clearfix;
        list-style-type: none;
        padding: 0;

        li {
            position: relative;
            float: left;
            margin-right: 10px;

            &:last-of-type {
                margin-right: 0;
            }

            a {
                display: block;
                width: 28px;
                height: 28px;
                background: #d92738;
                border-radius: 50%;

                &:hover {
                    background: #be2231;
                }

                i {
                    display: block;
                    position: relative;
                    top: 6px;
                    left: 7px;
                }
            }
        }

        .gplus i {
            width: 17px;
            height: 16px;
            background: url(assets/images/gplus.png) no-repeat;

            @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                only screen and (   min--moz-device-pixel-ratio: 1.5),
                only screen and (     -o-min-device-pixel-ratio: 3/2),
                only screen and (        min-device-pixel-ratio: 1.5),
                only screen and (min-resolution: 192dpi) {
                    background: url(assets/images/gplus_2x.png) no-repeat;
                    background-size: 100%;
                }

            @media  only screen and (-webkit-min-device-pixel-ratio: 2.5),
            only screen and (   min--moz-device-pixel-ratio: 2.5),
            only screen and (     -o-min-device-pixel-ratio: 5/2),
            only screen and (        min-device-pixel-ratio: 2.5),
            only screen and (min-resolution: 192dpi) {
                background: url(assets/images/gplus_3x.png) no-repeat;
                background-size: 100%;
            }
        }

        .fb i {
            width: 10px;
            height: 16px;
            background: url(assets/images/fb.png) no-repeat;
            left: 9px;

            @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                only screen and (   min--moz-device-pixel-ratio: 1.5),
                only screen and (     -o-min-device-pixel-ratio: 3/2),
                only screen and (        min-device-pixel-ratio: 1.5),
                only screen and (min-resolution: 192dpi) {
                    background: url(assets/images/fb_2x.png) no-repeat;
                    background-size: 100%;
                }

            @media  only screen and (-webkit-min-device-pixel-ratio: 2.5),
            only screen and (   min--moz-device-pixel-ratio: 2.5),
            only screen and (     -o-min-device-pixel-ratio: 5/2),
            only screen and (        min-device-pixel-ratio: 2.5),
            only screen and (min-resolution: 192dpi) {
                background: url(assets/images/fb_3x.png) no-repeat;
                background-size: 100%;
            }
        }

        .twitter i {
            width: 16px;
            height: 13px;
            background: url(assets/images/twit.png) no-repeat;
            top: 7px;

            @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                only screen and (   min--moz-device-pixel-ratio: 1.5),
                only screen and (     -o-min-device-pixel-ratio: 3/2),
                only screen and (        min-device-pixel-ratio: 1.5),
                only screen and (min-resolution: 192dpi) {
                    background: url(assets/images/twit_2x.png) no-repeat;
                    background-size: 100%;
                }

            @media  only screen and (-webkit-min-device-pixel-ratio: 2.5),
            only screen and (   min--moz-device-pixel-ratio: 2.5),
            only screen and (     -o-min-device-pixel-ratio: 5/2),
            only screen and (        min-device-pixel-ratio: 2.5),
            only screen and (min-resolution: 192dpi) {
                background: url(assets/images/twit_3x.png) no-repeat;
                background-size: 100%;
            }
        }

        .tumblr i {
            width: 11px;
            height: 19px;
            background: url(assets/images/tumblr.png) no-repeat;
            top: 5px;
            left: 9px;

            @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                only screen and (   min--moz-device-pixel-ratio: 1.5),
                only screen and (     -o-min-device-pixel-ratio: 3/2),
                only screen and (        min-device-pixel-ratio: 1.5),
                only screen and (min-resolution: 192dpi) {
                    background: url(assets/images/tumblr_2x.png) no-repeat;
                    background-size: 100%;
                }

            @media  only screen and (-webkit-min-device-pixel-ratio: 2.5),
            only screen and (   min--moz-device-pixel-ratio: 2.5),
            only screen and (     -o-min-device-pixel-ratio: 5/2),
            only screen and (        min-device-pixel-ratio: 2.5),
            only screen and (min-resolution: 192dpi) {
                background: url(assets/images/tumblr_3x.png) no-repeat;
                background-size: 100%;
            }
        }

        .inst i {
            width: 16px;
            height: 16px;
            background: url(assets/images/instagram.png) no-repeat;
            left: 6px;

            @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                only screen and (   min--moz-device-pixel-ratio: 1.5),
                only screen and (     -o-min-device-pixel-ratio: 3/2),
                only screen and (        min-device-pixel-ratio: 1.5),
                only screen and (min-resolution: 192dpi) {
                    background: url(assets/images/instagram_2x.png) no-repeat;
                    background-size: 100%;
                }

            @media  only screen and (-webkit-min-device-pixel-ratio: 2.5),
            only screen and (   min--moz-device-pixel-ratio: 2.5),
            only screen and (     -o-min-device-pixel-ratio: 5/2),
            only screen and (        min-device-pixel-ratio: 2.5),
            only screen and (min-resolution: 192dpi) {
                background: url(assets/images/instagram_3x.png) no-repeat;
                background-size: 100%;
            }
        }

        .youtube i {
            width: 15px;
            height: 11px;
            background: url(assets/images/youtube.png) no-repeat;
            top: 8px;

            @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                only screen and (   min--moz-device-pixel-ratio: 1.5),
                only screen and (     -o-min-device-pixel-ratio: 3/2),
                only screen and (        min-device-pixel-ratio: 1.5),
                only screen and (min-resolution: 192dpi) {
                    background: url(assets/images/youtube_2x.png) no-repeat;
                    background-size: 100%;
                }

            @media  only screen and (-webkit-min-device-pixel-ratio: 2.5),
            only screen and (   min--moz-device-pixel-ratio: 2.5),
            only screen and (     -o-min-device-pixel-ratio: 5/2),
            only screen and (        min-device-pixel-ratio: 2.5),
            only screen and (min-resolution: 192dpi) {
                background: url(assets/images/youtube_3x.png) no-repeat;
                background-size: 100%;
            }
        }
    }
}

#menu-footer-menu {
    list-style-type: none;
    padding: 0 0 15px;

    li {
        font-size: 12px;
        margin-bottom: 6px;

        a {
            color: #666;
            text-decoration: none;
        }
    }
}

.article-list {

    ul {
        list-style-type: none;
        padding: 0 0 0;
        margin-bottom: 0;

        li {
            font-size: 12px;
            margin-bottom: 6px;
            width: 100%;

            a {
                color: #666;
                text-decoration: none;
                display: inline-block;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                width: 100%;
            }
        }
    }

    .view-all {
        font-family: 'Open Sans';
        font-size: 12px;
        text-decoration: none;
        color: #d92738;
        margin-top: -5px;
        display: block;

        &:hover {
            color: #be2231;
        }
    }
}

.footer-col4 {
    padding-right: 0;
}

.mobile-links {
    display: none;
}

.site-info {
    height: 70px;
    line-height: 70px;

    p {
        margin: 0;
        color: #000;
        font-family: 'Open Sans';
        font-size: 12px;
        font-weight: 600;
    }
}

.footer-subscribe-module {

    .field-wrap {
        height: 50px;
        margin-bottom: 15px;

        input,
        select {
            height: 50px;
            width: 100%;
            background: #fff;
            border: 0;
            padding-left: 15px;
            font-size: 14px;
            font-family: Raleway;
            color: #000;

            &::-webkit-input-placeholder {
                font-size: 14px;
                color: #000;
                font-family: Raleway;
            }

            &:-moz-placeholder {
                font-size: 14px;
                color: #000;
                font-family: Raleway;
            }

            &::-moz-placeholder {
                font-size: 14px;
                color: #000;
                font-family: Raleway;
            }

            &:-ms-input-placeholder {
                font-size: 14px;
                color: #000;
                font-family: Raleway;
            }

            &[type="submit"] {
                background: #d92738;
                font-size: 14px;
                color: #fff;
                text-transform: uppercase;
                font-weight: 900;

                &:hover {
                    background: #be2231;
                }
            }
        }
    }

    .list-dropdown-wrap {

        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            display: inline-block;
            cursor: pointer;
            outline: 0;
        }

        &:after {
            content: '';
            width: 0;
            height: 0;
            position: relative;
            top: -27px;
            left: -webkit-calc(100% - 25px);
            left: calc(100% - 25px);
            border-style: solid;
            border-width: 6px 6px 0;
            border-color: #000 transparent transparent;
            pointer-events: none;
        }
    }
}

@media only screen and (max-width: 959px) {
    .footer-col1,
    .footer-col2,
    .footer-col3 {
        width: 33%;
    }

    .footer-col4 {
        width: 100%;
        padding-left: 0;

        h3 {
            margin-top: 15px;
        }

        .field-wrap {
            width: 32%;
            float: left;
            margin-top: 5px;
            margin-bottom: 10px;

            &:nth-of-type(1),
            &:nth-of-type(2) {
                margin-right: 2%;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .footer-col1,
    .footer-col2,
    .footer-col3 {
        width: 100%;
        float: none;
        padding-right: 0;

        h3 {
            text-align: center;
            font-size: 14px;
            margin-top: 20px;
            border-bottom: 0;
            margin-bottom: 0;
        }
    }

    .footer-col1 {

        & > span:nth-of-type(1),
        & > span:nth-of-type(2) {
            display: none;
        }

        span:nth-of-type(3),
        span:nth-of-type(4) {

            a {
                width: 230px;
                margin: 0 auto;
            }
        }

        h3:nth-of-type(2) {
            border-top: 1px solid #ccc;
            padding-top: 15px;
            margin-bottom: 0;
        }

        .social-list {
            width: 225px;
            margin: 0 auto !important;
        }
    }

    .footer-col2,
    .footer-col3,
    .footer-col4 {
        display: none;
    }

    .mobile-links {
        display: block;
        height: 52px;
        border-top: 1px solid #ccc;
        padding-top: 24px;
        margin-top: 15px;

        a:first-of-type {
            display: block;
            height: 12px;
            width: -webkit-calc(50% - 1px);
            width: calc(50% - 1px);
            float: left;
            text-align: right;
            padding-right: 5px;
            border-right: 1px solid #666;
            color: #666;
            font-size: 12px;
            font-family: 'Open Sans';
            text-decoration: none;
            line-height: 1;
        }
        a:last-of-type {
            display: block;
            height: 12px;
            width: 50%;
            float: left;
            text-align: left;
            padding-left: 5px;
            color: #666;
            font-size: 12px;
            font-family: 'Open Sans';
            text-decoration: none;
            line-height: 1;
        }
    }

    .site-info {
        padding-top: 20px;

        p {
            margin: 0 auto;
            width: 200px;
            line-height: 1.3;
            text-align: center;
        }
    }
}
