/* ==========================================================================
   Layout
   ========================================================================== */

#page {
    max-width: $pageWidth;
}

.site-content .widget-area {
    float: right;
    overflow: hidden;
    width: 25%;
}

.site-footer {
    clear: both;
    width: 100%;
}
