/* ==========================================================================
   Home Page Template
   ========================================================================== */
.top-banner {
    @include clearfix;

    .banner-image,
    .banner-text-box {
        float: left;
        background: #eee;
    }

    .bottom-row {

        .image1,
        .image2 {
            display: none;
        }
    }

    .image1,
    .image2,
    .image3,
    .image4,
    .image5,
    .banner-text-box {
        height: 276px;
    }
    
    .image1,
    .image2,
    .image3,
    .image4,
    .image5 {
        background: url(assets/images/home-banner-bg_bright.jpg) repeat;
    }

    .image1,
    .image2 {
        width: 31%;
    }

    .image3,
    .image5 {
        width: 36%;
    }

    .image4 {
        width: 28%;
        text-align: center;
    }

    .banner-text-box {
        width: 38%;
        background: url(assets/images/locations-bg.jpg) repeat;
    }

    .image1 {
        border-right: 1px solid rgba(51, 51, 51, 0.1);

        img {
            float: right;
            margin-right: 22%;
        }
    }

    .image2 {
        border-left: 1px solid rgba(51, 51, 51, 0.1);

        img {
            float: left;
            margin-left: 6%;
        }
    }

    .image3,
    .image5 {
        border-top: 1px solid rgba(51, 51, 51, 0.1);
    }

    .image4 {
        border: 1px solid rgba(51, 51, 51, 0.1);
        border-bottom: 0;
    }

    .image3 img {
        float: right;
        margin-right: 10%;
    }

    .image5 img {
        float: left;
        margin-left: 6%;
    }

    .banner-text-box {
        padding-top: 50px;

        span {
            display: block;
            text-align: center;
            line-height: 1;
        }

        .row1 {
            text-transform: uppercase;
            font-size: 20px;
            font-family: MontserratBold;
            color: #111;
        }

        .row2 {
            text-transform: uppercase;
            font-size: 30px;
            font-family: MontserratBold;
            color: #d92738;
            margin: 13px 0 18px;
        }

        .row3 {
            font-size: 20px;
            font-weight: 300;
            color: #0c0c0c;
        }

        .find-shop-btn {
            display: block;
            width: 240px;
            height: 54px;
            line-height: 54px;
            margin: 23px auto 0;
            text-align: center;
            color: #fff;
            background: $darkRed;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 700;
            text-decoration: none;

            &:hover {
                background: $veryDarkRed;
            }
        }
    }
}

.home-about {
    padding: 80px 0;
    
    .container {
        overflow: auto;
    }

    h2 {
        color: $blackGrey;
        font-size: 40px;
        text-transform: uppercase;
        margin: 0 0 40px;
    }

    p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        color: $blackGrey;
        margin: 0 0 40px;
        
        &:last-child {
            margin-bottom: 0;
        }

        a {
            font-weight: 700;
            color: $darkRed;
            text-decoration: none;
        }
    }
    
    .home-about-text {
        width: 480px;
        float: left;
        margin-right: 40px;
    }
    
    .home-about-image {
        width: 420px;
        float: left;
        
        img {
            width: 100%;
            height: auto;
        }
    }
}

.home-locations,
.about-locations {
    @include clearfix;
    padding: 80px 0;
    background: url(assets/images/locations-bg.jpg) repeat;

    h2 {
        color: $blackGrey;
        font-size: 40px;
        text-transform: uppercase;
        margin: 0 0 40px;
    }

    .location-single {
        width: 300px;
        border: 1px solid #d9d9d9;
        padding: 10px;
        background: #fff;
        overflow: hidden;
        font-family: Arial, Helvetica, sans-serif;
        box-shadow: 0px 3px 1px 0px rgba(1, 1, 1, 0.08);
        
        &:hover {
            border: 1px solid $darkRed;
            
            .learn-more {
                background: $darkRed;
                color: #fff;
            }
        }
        
        .location-image {
            height: 130px;
            overflow: hidden;
            margin-bottom: 20px;
            
            img {
                height: 100%;
                width: auto;
                margin: 0 auto;
            }
        }

        h3 {
            font-size: 20px;
            color: $blackGrey;
            margin: 0 0 25px;
            padding-left: 10px;
        }

        .location-info-box {
            font-size: 16px;
            color: $blackGrey;
            margin-bottom: 5px;
        }

        .address,
        .phone,
        .open-hours {
            margin-bottom: 22px;
            height: 33px;
            display: flex;
            align-items: center;
        }
        
        .icon-container {
            display: inline-block;
            width: 50px;
            
            .icon {
                display: block;
                margin: 0 auto;
            }
        }
        
        .text {
            display: block;
            width: calc(100% - 50px);
        }

        .address {

            .icon {
                width: 21px;
                height: 15px;
                background: url(assets/images/new-mail-icon.png) no-repeat;
                background-size: 100%;

                @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                    only screen and (   min--moz-device-pixel-ratio: 1.5),
                    only screen and (     -o-min-device-pixel-ratio: 3/2),
                    only screen and (        min-device-pixel-ratio: 1.5),
                    only screen and (min-resolution: 192dpi) {
                        background: url(assets/images/new-mail-icon_2x.png) no-repeat;
                        background-size: 100%;
                    }

                @media  only screen and (-webkit-min-device-pixel-ratio: 2.5),
                    only screen and (   min--moz-device-pixel-ratio: 2.5),
                    only screen and (     -o-min-device-pixel-ratio: 5/2),
                    only screen and (        min-device-pixel-ratio: 2.5),
                    only screen and (min-resolution: 192dpi) {
                        background: url(assets/images/new-mail-icon_3x.png) no-repeat;
                        background-size: 100%;
                    }
            }
        }

        .phone {

            .icon {
                width: 16px;
                height: 22px;
                background: url(assets/images/new-phone-icon.png) no-repeat;
                background-size: 100%;

                @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                    only screen and (   min--moz-device-pixel-ratio: 1.5),
                    only screen and (     -o-min-device-pixel-ratio: 3/2),
                    only screen and (        min-device-pixel-ratio: 1.5),
                    only screen and (min-resolution: 192dpi) {
                        background: url(assets/images/new-phone-icon_2x.png) no-repeat;
                        background-size: 100%;
                    }

                @media  only screen and (-webkit-min-device-pixel-ratio: 2.5),
                    only screen and (   min--moz-device-pixel-ratio: 2.5),
                    only screen and (     -o-min-device-pixel-ratio: 5/2),
                    only screen and (        min-device-pixel-ratio: 2.5),
                    only screen and (min-resolution: 192dpi) {
                        background: url(assets/images/new-phone-icon_3x.png) no-repeat;
                        background-size: 100%;
                    }
            }
        }

        .open-hours {

            .icon {
                width: 22px;
                height: 23px;
                background: url(assets/images/new-clock-icon.png) no-repeat;
                background-size: 100%;

                @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                    only screen and (   min--moz-device-pixel-ratio: 1.5),
                    only screen and (     -o-min-device-pixel-ratio: 3/2),
                    only screen and (        min-device-pixel-ratio: 1.5),
                    only screen and (min-resolution: 192dpi) {
                        background: url(assets/images/new-clock-icon_2x.png) no-repeat;
                        background-size: 100%;
                    }

                @media  only screen and (-webkit-min-device-pixel-ratio: 2.5),
                    only screen and (   min--moz-device-pixel-ratio: 2.5),
                    only screen and (     -o-min-device-pixel-ratio: 5/2),
                    only screen and (        min-device-pixel-ratio: 2.5),
                    only screen and (min-resolution: 192dpi) {
                        background: url(assets/images/new-clock-icon_3x.png) no-repeat;
                        background-size: 100%;
                    }
            }

            .open-hours-optional {
                display: block;
            }
        }
        
        .learn-more {
            display: block;
            height: 46px;
            line-height: 46px;
            background: #f8f8f8;
            text-align: center;
            color: $darkRed;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 700;
            
            &:active {
                background: $veryDarkRed;
            }
        }
    }
}

.page-subscribe-module {
    height: 460px;
    background: url(assets/images/subscribe_grey_new.jpg) no-repeat;
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center;
    padding: 80px 0;

    h2 {
        font-size: 40px;
        color: #fff;
        text-transform: uppercase;
        margin: 0 0 50px;
        line-height: 1.2;
    }

    .field-wrap {
        height: 66px;
        width: calc(50% - 10px);
        float: left;
        margin-bottom: 30px;

        &:nth-of-type(1) {
            margin-right: 20px;
        }

        &:nth-of-type(3) {
            width: 100%;
        }

        input,
        select {
            height: 66px;
            width: 100%;
            background: #fff;
            border: 0;
            padding-left: 30px;
            font-size: 18px;
            font-family: Montserrat;
            color: #c9c7c8;

            &::-webkit-input-placeholder {
                font-size: 18px;
                color: #c9c7c8;
                font-family: Montserrat;
            }

            &:-moz-placeholder {
                font-size: 18px;
                color: #c9c7c8;
                font-family: Montserrat;
            }

            &::-moz-placeholder {
                font-size: 18px;
                color: #c9c7c8;
                font-family: Montserrat;
            }

            &:-ms-input-placeholder {
                font-size: 18px;
                color: #c9c7c8;
                font-family: Montserrat;
            }

            &[type="submit"] {
                background: #d92738;
                font-size: 18px;
                color: #fff;
                text-transform: uppercase;
                font-weight: 700;
                cursor: pointer;

                &:hover {
                    background: #be2231;
                }
            }
        }
    }

    .list-dropdown-wrap {

        select {
            display: inline-block;
            cursor: pointer;
            outline: 0;
        }

        &:after {
            content: '';
            width: 0;
            height: 0;
            position: relative;
            top: -35px;
            left: calc(100% - 40px);
            border-style: solid;
            border-width: 6px 6px 0;
            border-color: #c9c7c8 transparent transparent;
            pointer-events: none;
        }
    }
}

.home-testimonials {
    padding: 80px 0;

    h2 {
        font-size: 40px;
        color: $blackGrey;
        margin: 0 0 70px;
        text-transform: uppercase;
    }
    
    .owl-controls {
        top: -102px;
    }
    
    .testimonials-widget-testimonial {
        width: 50%;
        float: left;
        clear: none;
        
        &:first-of-type {
            border-right: 1px solid #e5e5e5;
        }
    }

    .paging {
        display: none !important;
    }

    blockquote {
        font-size: 16px;
        color: $blackGrey;
        font-family: Arial, Helvetica, sans-serif !important;
        font-style: italic;
        text-align: center;
        width: 290px;
        margin: 0 auto !important;
        position: relative;
        quotes: '\201c' '\201d';
        
        &:before {
            content: open-quote;
            font-family: Arial;
            font-weight: bold;
            position: absolute;
            top: -10px;
            left: -18px;
            color: #a5a5a5;
            font-size: 24px;
        }
        
        &:after {
            content: close-quote;
            font-family: Arial;
            font-weight: bold;
            position: absolute;
            bottom: -3px;
            right: 0;
            color: #a5a5a5;
            font-size: 24px;
        }
    }

    .credit {
        text-align: center !important;
        font-size: 20px;
        color: $blackGrey;
        font-family: Arial, Helvetica, sans-serif !important;
        font-weight: 700;
        margin: 0 0 25px;

        &:before {
            content: none !important;
        }
    }
}

@media only screen and (max-width: 1279px) {

    .top-banner {

        .image1,
        .image2,
        .banner-text-box,
        .image3,
        .image4,
        .image5 {
            height: 150px;
            text-align: center;
        }

        .image1 img,
        .image2 img,
        .image3 img,
        .image4 img,
        .image5 img {
            float: none;
            margin-right: 0;
            height: 148px;
        }

        .banner-text-box {
            padding-top: 20px;

            span {
                display: block;
                text-align: center;
                line-height: 1;
            }

            .row1 {
                font-size: 33px;
            }

            .row2 {
                font-size: 25px;
                font-weight: 900;
                margin: -4px 0 2px;
            }

            .row3 {
                font-size: 12px;
                font-weight: 900;
            }

            .find-shop-btn {
                width: 140px;
                height: 34px;
                line-height: 34px;
                margin: 10px auto 0;
                font-size: 12px;
            }
        }
    }

    .home-about {
        padding-top: 30px;
    }

    .page-subscribe-module {
        height: 216px;

        .container {
            padding-top: 20px;
        }

        h2 {
            margin-bottom: 15px;
        }

        .field-wrap {
            margin-bottom: 20px;
        }
    }
}

@media only screen and (max-width: 767px) {

    .top-banner {

        .banner-image,
        .banner-text-box {
            float: none !important;
            background: #eee;
        }

        .image1,
        .image2 {
            display: none;
        }

        .bottom-row {

            .image1,
            .image2 {
                display: block;
            }
        }

        .banner-text-box {
            width: 100%;
            height: 110px;
            border-bottom: 1px solid #ccc;
        }

        .bottom-row {
            width: calc(100% - 70px);
            width: -webkit-calc(100% - 70px);
            margin-left: 35px;
            height: auto;
            border-bottom: 1px solid #ccc;

            .owl-item {
                border-right: 1px solid #ccc;
                overflow: hidden;
            }

            .owl-stage-outer {
                z-index: 2;
                border-left: 1px solid #ccc;
                border-right: 1px solid #ccc;
            }

            .owl-controls {
                top: 0;
                height: calc(100% + 1px);
                height: -webkit-calc(100% + 1px);
                background: #eee;
                border-bottom: 1px solid #ccc;
                left: -35px;
                width: calc(100% + 70px);
                width: -webkit-calc(100% + 70px);
            }

            .owl-prev {
                position: relative;
                top: 37px;
                left: 6px;
            }

            .owl-next {
                position: relative;
                top: 37px;
                left: calc(100% - 66px);
                left: -webkit-calc(100% - 66px);
            }

            .banner-image {
                height: 98px;
                padding: 0 5px;
                width: 100%;
                border: 0 !important;
                text-align: center;

                img {
                    margin: 0 auto !important;
                    height: 98px;
                    width: auto !important;
                }
            }
        }

        .banner-text-box {
            padding-top: 10px;

            span {
                display: block;
                text-align: center;
                line-height: 1;
            }

            .row1 {
                font-size: 24px;
            }

            .row2 {
                font-size: 18px;
                margin: -2px 0 0;
            }

            .row3 {
                font-size: 9px;
            }

            .find-shop-btn {
                width: 102px;
                height: 25px;
                line-height: 25px;
                margin: 10px auto 0;
                font-size: 12px;
            }
        }
    }

    .home-about {
        padding-top: 15px;
        height: auto;
        padding-bottom: 20px;

        h2 {
            font-size: 16px;
            margin-bottom: 10px;
        }

        p {
            display: inline-block;
            margin: 0;
        }

        p:nth-of-type(2) {
            display: none;
        }
    }

    .home-locations,
    .about-locations {
        padding-top: 15px;
        height: 245px;
        position: relative;

        h2 {
            font-size: 16px;
            margin-bottom: 10px;
        }

        .view-all {
            display: block;
            position: absolute;
            right: 10px;
            top: 15px;
            font-size: 12px;
            color: #d92738;
            font-family: Raleway;
            text-decoration: none;
            font-weight: 700;
        }

        .location-single {
            width: 100%;
            height: 190px;
            padding: 15px 0 0 15px;

            h3 {
                font-size: 14px;
            }

            .learn-more {
                font-size: 12px;
            }
        }

        .location-info-box {
            padding-top: 15px !important;
            margin-right: 15px;

            & > span {
                margin-bottom: 15px !important;
            }
        }

        .owl-controls {
            top: 17px;
            right: 20px;
        }
    }

    .page-subscribe-module {
        height: 250px;

        .container {
            padding-top: 10px;
        }

        h2 {
            margin-bottom: 10px;
            font-size: 16px;
            padding: 0 10px;
        }

        .field-wrap {
            width: 100% !important;
            margin-right: 0 !important;
            margin-bottom: 10px;
        }
    }

    .home-testimonials {
        position: relative;

        .container {
            padding: 20px 0 0;
        }

        h2 {
            font-size: 16px;
            margin: 0 0 10px;
            padding-left: 36px;
            padding-bottom: 10px;
            border-bottom: 1px solid #ccc;

            span {
                font-size: 62px;
                top: 22px;
            }
        }

        blockquote {
            font-size: 12px;
            width: calc(100% - 80px);
            width: -webkit-calc(100% - 80px);
        }

        .owl-stage-outer {
            z-index: 2;
            width: calc(100% - 80px);
            width: -webkit-calc(100% - 80px);
            margin-left: 40px;
        }

        .owl-controls {
            top: 0;
            height: 100%;
            left: -40px;
            width: 100%;
        }

        .owl-prev {
            position: relative;
            top: 30px;
            left: 42px;
        }

        .owl-next {
            position: relative;
            top: 30px;
            left: calc(100% - 26px);
            left: -webkit-calc(100% - 26px);
        }

        .view-all {
            display: block;
            position: absolute;
            right: 10px;
            top: 20px;
            font-size: 12px;
            color: #d92738;
            font-family: Raleway;
            text-decoration: none;
            font-weight: 700;
        }

        .extend-content {
            font-size: 12px;
            color: #d92738;
            font-family: Raleway;
            text-decoration: none;
            font-weight: 700;
            font-style: normal;
        }

        .testimonials-widget-testimonial {
            margin-bottom: 15px !important;
        }

        .credit {
            margin-top: 15px !important;
        }
    }
}
