.contact-banner {
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center;
    font-family: Raleway;
    
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .banner-text {
        display: block;
        font-family: MontserratBold;
        width: 500px;
        text-align: center;
        line-height: 1.2;
        font-size: 40px;
        text-transform: uppercase;
        color: #fff;
    }
}

.contact-main {
    
    .contact-content {
        padding: 70px 0;
        font-size: 24px;
        color: #1d1d1d;
        font-family: MontserratUltraLight;
        line-height: 1.7;
        
        p {
            margin: 0;
        }
        
        strong {
            font-family: Montserrat;
            font-weight: 700;
        }
    }
}

.contact-blocks {
    padding: 80px 0;
    background: url(assets/images/locations-bg.jpg) repeat;
    
    .container {
        overflow: hidden;
    }
    
    h1 {
        font-size: 40px;
        color: #1d1d1d;
        text-transform: uppercase;
        margin: 0 0 20px;
    }
}

.contact-block-single {
    width: 300px;
    float: left;
    margin-right: 20px;
    border: 1px solid #d9d9d9;
    text-align: center;
    background: #fff;
    padding-bottom: 50px;
    box-shadow: 0px 3px 1px 0px rgba(1, 1, 1, 0.08);
    margin-bottom: 4px;


    &:last-of-type {
        margin-right: 0;
    }

    .icon-space {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -webkit-flex-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        justify-content: center;
        -webkit-justify-content: center;
        height: 178px;
        width: 178px;
        margin: 40px auto;
        border-radius: 50%;
        background: $darkRed;

        i {
            display: block;
        }
    }

    span {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        color: #0c0c0c;
        width: 210px;
        display: inline-block;
    }

    a {
        display: block;
        font-size: 14px;
        color: #d92738;
        font-weight: 700;
        text-decoration: none;
        margin-top: 10px;

        &:hover {
            color: #be2231;
        }
    }

    &.email {

        i {
            width: 75px;
            height: 51px;
            background: url(assets/images/envelope_new.png) no-repeat;

            @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                only screen and (   min--moz-device-pixel-ratio: 1.5),
                only screen and (     -o-min-device-pixel-ratio: 3/2),
                only screen and (        min-device-pixel-ratio: 1.5),
                only screen and (min-resolution: 192dpi) {
                    background: url(assets/images/envelope_new_2x.png) no-repeat;
                    background-size: 100%;
                }

            @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                only screen and (   min--moz-device-pixel-ratio: 1.5),
                only screen and (     -o-min-device-pixel-ratio: 3/2),
                only screen and (        min-device-pixel-ratio: 1.5),
                only screen and (min-resolution: 192dpi) {
                    background: url(assets/images/envelope_new_3x.png) no-repeat;
                    background-size: 100%;
                }
        }
    }

    &.phone {

        i {
            width: 50px;
            height: 69px;
            background: url(assets/images/phone_contact_new.png) no-repeat;

            @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                only screen and (   min--moz-device-pixel-ratio: 1.5),
                only screen and (     -o-min-device-pixel-ratio: 3/2),
                only screen and (        min-device-pixel-ratio: 1.5),
                only screen and (min-resolution: 192dpi) {
                    background: url(assets/images/phone_contact_new_2x.png) no-repeat;
                    background-size: 100%;
                }

            @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                only screen and (   min--moz-device-pixel-ratio: 1.5),
                only screen and (     -o-min-device-pixel-ratio: 3/2),
                only screen and (        min-device-pixel-ratio: 1.5),
                only screen and (min-resolution: 192dpi) {
                    background: url(assets/images/phone_contact_new_3x.png) no-repeat;
                    background-size: 100%;
                }
        }
    }

    &.chat {

        i {
            width: 79px;
            height: 65px;
            background: url(assets/images/chat_new.png) no-repeat;

            @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                only screen and (   min--moz-device-pixel-ratio: 1.5),
                only screen and (     -o-min-device-pixel-ratio: 3/2),
                only screen and (        min-device-pixel-ratio: 1.5),
                only screen and (min-resolution: 192dpi) {
                    background: url(assets/images/chat_new_2x.png) no-repeat;
                    background-size: 100%;
                }

            @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                only screen and (   min--moz-device-pixel-ratio: 1.5),
                only screen and (     -o-min-device-pixel-ratio: 3/2),
                only screen and (        min-device-pixel-ratio: 1.5),
                only screen and (min-resolution: 192dpi) {
                    background: url(assets/images/chat_new_3x.png) no-repeat;
                    background-size: 100%;
                }
        }
    }
    
    &:hover {
        border: 1px solid $darkRed;
        
        .icon-space {
            background: #f8f8f8;
        }
            
        &.email {

            i {
                width: 75px;
                height: 51px;
                background: url(assets/images/envelope_new_red.png) no-repeat;
    
                @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                    only screen and (   min--moz-device-pixel-ratio: 1.5),
                    only screen and (     -o-min-device-pixel-ratio: 3/2),
                    only screen and (        min-device-pixel-ratio: 1.5),
                    only screen and (min-resolution: 192dpi) {
                        background: url(assets/images/envelope_new_red_2x.png) no-repeat;
                        background-size: 100%;
                    }
    
                @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                    only screen and (   min--moz-device-pixel-ratio: 1.5),
                    only screen and (     -o-min-device-pixel-ratio: 3/2),
                    only screen and (        min-device-pixel-ratio: 1.5),
                    only screen and (min-resolution: 192dpi) {
                        background: url(assets/images/envelope_new_red_3x.png) no-repeat;
                        background-size: 100%;
                    }
            }
        }
    
        &.phone {
    
            i {
                width: 50px;
                height: 69px;
                background: url(assets/images/phone_contact_new_red.png) no-repeat;
    
                @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                    only screen and (   min--moz-device-pixel-ratio: 1.5),
                    only screen and (     -o-min-device-pixel-ratio: 3/2),
                    only screen and (        min-device-pixel-ratio: 1.5),
                    only screen and (min-resolution: 192dpi) {
                        background: url(assets/images/phone_contact_new_red_2x.png) no-repeat;
                        background-size: 100%;
                    }
    
                @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                    only screen and (   min--moz-device-pixel-ratio: 1.5),
                    only screen and (     -o-min-device-pixel-ratio: 3/2),
                    only screen and (        min-device-pixel-ratio: 1.5),
                    only screen and (min-resolution: 192dpi) {
                        background: url(assets/images/phone_contact_new_red_3x.png) no-repeat;
                        background-size: 100%;
                    }
            }
        }
    
        &.chat {
    
            i {
                width: 79px;
                height: 65px;
                background: url(assets/images/chat_new_red.png) no-repeat;
    
                @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                    only screen and (   min--moz-device-pixel-ratio: 1.5),
                    only screen and (     -o-min-device-pixel-ratio: 3/2),
                    only screen and (        min-device-pixel-ratio: 1.5),
                    only screen and (min-resolution: 192dpi) {
                        background: url(assets/images/chat_new_red_2x.png) no-repeat;
                        background-size: 100%;
                    }
    
                @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                    only screen and (   min--moz-device-pixel-ratio: 1.5),
                    only screen and (     -o-min-device-pixel-ratio: 3/2),
                    only screen and (        min-device-pixel-ratio: 1.5),
                    only screen and (min-resolution: 192dpi) {
                        background: url(assets/images/chat_new_red_3x.png) no-repeat;
                        background-size: 100%;
                    }
            }
        }
    }
}

.contact-form {
    height: 676px;
    padding-top: 80px;
    background: url(assets/images/contact_form_new.jpg) no-repeat;
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center;
    
    .container {
        position: relative;
    }
    
    .email-icon {
        display: block;
        width: 60px;
        height: 38px;
        background: url(assets/images/envelope_new.png) no-repeat;
        background-size: 100%;
        position: absolute;
        right: 10px;
        top: 0;
        
        @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
            only screen and (   min--moz-device-pixel-ratio: 1.5),
            only screen and (     -o-min-device-pixel-ratio: 3/2),
            only screen and (        min-device-pixel-ratio: 1.5),
            only screen and (min-resolution: 192dpi) {
                background: url(assets/images/envelope_new_2x.png) no-repeat;
                background-size: 100%;
            }

        @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
            only screen and (   min--moz-device-pixel-ratio: 1.5),
            only screen and (     -o-min-device-pixel-ratio: 3/2),
            only screen and (        min-device-pixel-ratio: 1.5),
            only screen and (min-resolution: 192dpi) {
                background: url(assets/images/envelope_new_3x.png) no-repeat;
                background-size: 100%;
            }
    }

    h2 {
        color: #fff;
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0 0 20px;
    }

    p:first-of-type {
        margin: 0 0 20px;
        width: calc(100% - 160px);

        span {
            font-size: 24px;
            color: #fff;
            font-family: MontserratUltraLight;
            line-height: 1.4;
        }
    }

    p {
        width: 49%;
        float: left;
        overflow: hidden;
        margin: 10px 0;
    }

    p:nth-of-type(2),
    p:nth-of-type(4) {
        margin-right: 2%;
    }

    p:nth-of-type(5) {
        margin-bottom: -11px;
    }

    input,
    select {
        width: 100%;
        height: 66px;
        float: left;
        border: 0;
        background: #fff;
        padding-left: 28px;
        font-size: 18px;
        color: #c9c7c8;
        font-family: Montserrat;

        &::-webkit-input-placeholder {
            font-size: 18px;
            color: #c9c7c8;
            font-family: Montserrat;
        }

        &:-moz-placeholder {
            font-size: 18px;
            color: #c9c7c8;
            font-family: Montserrat;
        }

        &::-moz-placeholder {
            font-size: 18px;
            color: #c9c7c8;
            font-family: Montserrat;
        }

        &:-ms-input-placeholder {
            font-size: 18px;
            color: #c9c7c8;
            font-family: Montserrat;
        }
    }

    p:nth-of-type(6),
    p:nth-of-type(7) {
        width: 100%;
    }

    .message-field {
        width: 100%;
        height: 120px;
        resize: none;
        padding: 20px 28px;
        font-size: 18px;
        color: #c9c7c8;
        font-family: Montserrat;

        &::-webkit-input-placeholder {
            font-size: 18px;
            color: #c9c7c8;
            font-family: Montserrat;
        }

        &:-moz-placeholder {
            font-size: 18px;
            color: #c9c7c8;
            font-family: Montserrat;
        }

        &::-moz-placeholder {
            font-size: 18px;
            color: #c9c7c8;
            font-family: Montserrat;
        }

        &:-ms-input-placeholder {
            font-size: 18px;
            color: #c9c7c8;
            font-family: Montserrat;
        }
    }

    .submit-btn {
        width: 100%;
        height: 66px;
        color: #fff;
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
        cursor: pointer;
        padding: 0 !important;
        background: #d92738;

        &:hover {
            background: #be2231;
        }
    }

    .wpcf7-form .shop-location {

        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            display: inline-block;
            cursor: pointer;
            outline: 0;
        }

        &:after {
            content: '';
            width: 0;
            height: 0;
            position: relative;
            top: -28px;
            left: -webkit-calc(100% - 30px);
            left: calc(100% - 30px);
            border-style: solid;
            border-width: 6px 6px 0;
            border-color: #c9c7c8 transparent transparent;
            pointer-events: none;
        }
    }
}

@media only screen and (max-width: 959px) {
    .contact-banner {
        height: 290px;
    }
    
    .contact-content {
        padding: 55px 0;
    }
    
    .contact-blocks .contact-block-single {
        width: calc((100% - 40px) / 3);
        height: 382px;
        
        a {
            max-width: calc(100% - 105px);
            margin: 10px auto 0;
            word-wrap: break-word;
        }
    }
    
    .contact-blocks,
    .contact-form {
        padding: 60px 0;
    }
    
    .contact-form {
        
        p:first-of-type span {
            font-size: 20px;
        }
        
        .email-icon {
            right: 20px;
        }
    }
}

@media only screen and (max-width: 767px) {
    .contact-banner {
        height: 174px;
        background-position: center !important;

        .banner-text {
            font-size: 20px;
        }
    }
    
    .contact-main .contact-content {
        padding: 30px 0;
        font-size: 18px;
        line-height: 2;
    }

    .contact-blocks {
        padding: 30px 0;
        
        h1 {
            font-size: 20px;
            margin: 0 0 20px;
        }
    }

    .contact-block-single {
        width: 100% !important;
        height: auto !important;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .contact-form {
        padding: 30px 0;
        
        h2 {
            font-size: 20px;
            width: calc(100% - 100px);
            margin: 0 0 10px;
        }
        
        p:first-of-type {
            margin-bottom: 10px;
        }
        
        p:last-of-type {
            margin-bottom: 0;
        }
    }

    .wpcf7-form {
        
        input {
            height: 56px !important;
        }

        p {
            width: 100% !important;
            margin-right: 0;
        }
        
        textarea {
            height: 66px !important;
            overflow: hidden;
        }
    }

    .submit-btn {
        width: 100% !important;
    }
}
