.about-banner {
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center;
    
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;  
        text-align: center; 
    }

    .banner-text1,
    .banner-text2 {
        display: block;
        line-height: 1;
        font-size: 40px;
        color: #fff;
    }

    .banner-text1 {
        font-family: MontserratBold;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    .banner-text2 {
        font-family: MontserratUltraLight;
    }
}

.about-main {
    
    & > .container {
        padding: 80px 10px;
        
        & > p {
            font-size: 24px;
            color: #1d1d1d;
            line-height: 1.6;
            font-family: MontserratUltraLight;
            margin: 0;
        }
    }
}

.about-video {
    padding: 80px 0;
    background: url(assets/images/locations-bg.jpg) repeat;
    
    h3 {
        font-size: 40px;
        color: $blackGrey;
        margin: 0 0 20px;
        text-transform: uppercase;
    }
    
    .wp-video,
    .mejs-video {
        width: 100% !important;
        height: 640px !important;
    }
}

.about-stats {
    background: url(assets/images/menu_bg.jpg) repeat;
    padding: 80px 0;
    
    .container {
        overflow: hidden;
    }

    .stat-single {
        width: 25%;
        float: left;
    }

    .icon-space i {
        display: block;
        width: 100px;
        height: 100px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .products i {
        background: url(assets/images/product_icon.png) no-repeat;

        @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
            only screen and (   min--moz-device-pixel-ratio: 1.5),
            only screen and (     -o-min-device-pixel-ratio: 3/2),
            only screen and (        min-device-pixel-ratio: 1.5),
            only screen and (min-resolution: 192dpi) {
                background: url(assets/images/product_icon_2x.png) no-repeat;
                background-size: 100%;
            }

        @media  only screen and (-webkit-min-device-pixel-ratio: 2.5),
            only screen and (   min--moz-device-pixel-ratio: 2.5),
            only screen and (     -o-min-device-pixel-ratio: 5/2),
            only screen and (        min-device-pixel-ratio: 2.5),
            only screen and (min-resolution: 192dpi) {
                background: url(assets/images/product_icon_3x.png) no-repeat;
                background-size: 100%;
            }
    }

    .clients i {
        background: url(assets/images/customer_icon.png) no-repeat;

        @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
            only screen and (   min--moz-device-pixel-ratio: 1.5),
            only screen and (     -o-min-device-pixel-ratio: 3/2),
            only screen and (        min-device-pixel-ratio: 1.5),
            only screen and (min-resolution: 192dpi) {
                background: url(assets/images/customer_icon_2x.png) no-repeat;
                background-size: 100%;
            }

        @media  only screen and (-webkit-min-device-pixel-ratio: 2.5),
            only screen and (   min--moz-device-pixel-ratio: 2.5),
            only screen and (     -o-min-device-pixel-ratio: 5/2),
            only screen and (        min-device-pixel-ratio: 2.5),
            only screen and (min-resolution: 192dpi) {
                background: url(assets/images/customer_icon_3x.png) no-repeat;
                background-size: 100%;
            }
    }

    .discount i {
        background: url(assets/images/discount_icon.png) no-repeat;

        @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
            only screen and (   min--moz-device-pixel-ratio: 1.5),
            only screen and (     -o-min-device-pixel-ratio: 3/2),
            only screen and (        min-device-pixel-ratio: 1.5),
            only screen and (min-resolution: 192dpi) {
                background: url(assets/images/discount_icon_2x.png) no-repeat;
                background-size: 100%;
            }

        @media  only screen and (-webkit-min-device-pixel-ratio: 2.5),
            only screen and (   min--moz-device-pixel-ratio: 2.5),
            only screen and (     -o-min-device-pixel-ratio: 5/2),
            only screen and (        min-device-pixel-ratio: 2.5),
            only screen and (min-resolution: 192dpi) {
                background: url(assets/images/discount_icon_3x.png) no-repeat;
                background-size: 100%;
            }
    }

    .locations i {
        background: url(assets/images/location_icon.png) no-repeat;

        @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
            only screen and (   min--moz-device-pixel-ratio: 1.5),
            only screen and (     -o-min-device-pixel-ratio: 3/2),
            only screen and (        min-device-pixel-ratio: 1.5),
            only screen and (min-resolution: 192dpi) {
                background: url(assets/images/location_icon_2x.png) no-repeat;
                background-size: 100%;
            }

        @media  only screen and (-webkit-min-device-pixel-ratio: 2.5),
            only screen and (   min--moz-device-pixel-ratio: 2.5),
            only screen and (     -o-min-device-pixel-ratio: 5/2),
            only screen and (        min-device-pixel-ratio: 2.5),
            only screen and (min-resolution: 192dpi) {
                background: url(assets/images/location_icon_3x.png) no-repeat;
                background-size: 100%;
            }
    }

    span {
        display: block;
        text-transform: uppercase;
        text-align: center;
        font-size: 14px;
        color: #ccc;

        &.bold {
            font-weight: 700;
            font-size: 26px;
            margin-bottom: 12px;
            color: #fff;
        }
    }
}

.about-content-2,
.about-content-3 {

    p,
    ul li {
        font-size: 14px;
        color: #666;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    strong {
        font-weight: 700;
        color: #000;
    }
}

@media only screen and (max-width: 959px) {
    .about-banner {
        height: 292px;
    }

    .about-main {
    
        & > .container {
            padding: 60px 20px;
        }
    }
    
    .about-video,
    .about-stats {
        padding: 60px 0;
    }
    
    .about-stats {
        
        .stat-single span:nth-of-type(2) {
            width: 150px;
            margin: 0 auto;
        }
    }
}

@media only screen and (max-width: 767px) {
    .about-banner {
        height: 152px;
        padding: 0 30px;

        .banner-text1 {
            font-size: 20px;
            margin-bottom: 15px;
            text-align: center;
        }

        .banner-text2 {
            font-size: 18px;
            text-align: center;
        }
    }

    .about-main {

        & > .container {
            padding: 30px 20px;
            
            & > p {
                font-size: 18px;
            }
        }
    }
    
    .about-video {
        padding: 30px 0;
        
        h3 {
            font-size: 20px;
        }
        
        .wp-video,
        .mejs-video {
            height: 280px !important;
        }
    }

    .about-stats {
        padding: 30px 0;

        .stat-single {
            float: none;
            width: 100%;
            margin-bottom: 15px;
        }
    }
}
