.contact-banner {
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center;
    font-family: Raleway;

    .container {
        width: 100%;
        max-width: 960px;
        margin: 0 auto;
        padding-top: 80px;
    }

    .banner-text1,
    .banner-text2 {
        display: block;
        line-height: 1;
        font-size: 48px;
        text-transform: uppercase;
    }

    .banner-text1 {
        font-weight: 900;
        color: #d92738;
    }

    .banner-text2 {
        color: #fff;
        font-weight: 300;
    }
}

.contact-main {
    padding-top: 50px;

    .container {
        width: 100%;
        max-width: 960px;
        margin: 0 auto;
    }

    h1 {
        font-size: 24px;
        font-weight: 700;
        color: #000;
        text-transform: uppercase;
        margin: 0 0 10px;
    }

    p {
        font-size: 14px;
        color: #666;
    }
}

.contact-blocks {
    @include clearfix;
    margin: 50px 0;
}

.contact-block-single {
    width: 300px;
    height: 240px;
    float: left;
    margin-right: 30px;
    border: 1px solid #ccc;
    text-align: center;

    &:last-of-type {
        margin-right: 0;
    }

    .icon-space {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -webkit-flex-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        justify-content: center;
        -webkit-justify-content: center;
        height: 140px;

        i {
            display: block;
        }
    }

    span {
        font-family: 'Open Sans';
        font-size: 14px;
        color: #666;
        width: 190px;
        display: inline-block;
    }

    a {
        display: block;
        font-size: 14px;
        color: #d92738;
        font-weight: 700;
        text-decoration: none;
        margin-top: 10px;

        &:hover {
            color: #be2231;
        }
    }

    &.email {

        i {
            width: 70px;
            height: 51px;
            background: url(assets/images/envelope.png) no-repeat;

            @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                only screen and (   min--moz-device-pixel-ratio: 1.5),
                only screen and (     -o-min-device-pixel-ratio: 3/2),
                only screen and (        min-device-pixel-ratio: 1.5),
                only screen and (min-resolution: 192dpi) {
                    background: url(assets/images/envelope_2x.png) no-repeat;
                    background-size: 100%;
                }

            @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                only screen and (   min--moz-device-pixel-ratio: 1.5),
                only screen and (     -o-min-device-pixel-ratio: 3/2),
                only screen and (        min-device-pixel-ratio: 1.5),
                only screen and (min-resolution: 192dpi) {
                    background: url(assets/images/envelope_3x.png) no-repeat;
                    background-size: 100%;
                }
        }
    }

    &.phone {

        i {
            width: 67px;
            height: 71px;
            background: url(assets/images/phone_contact.png) no-repeat;

            @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                only screen and (   min--moz-device-pixel-ratio: 1.5),
                only screen and (     -o-min-device-pixel-ratio: 3/2),
                only screen and (        min-device-pixel-ratio: 1.5),
                only screen and (min-resolution: 192dpi) {
                    background: url(assets/images/phone_contact_2x.png) no-repeat;
                    background-size: 100%;
                }

            @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                only screen and (   min--moz-device-pixel-ratio: 1.5),
                only screen and (     -o-min-device-pixel-ratio: 3/2),
                only screen and (        min-device-pixel-ratio: 1.5),
                only screen and (min-resolution: 192dpi) {
                    background: url(assets/images/phone_contact_3x.png) no-repeat;
                    background-size: 100%;
                }
        }
    }

    &.chat {

        i {
            width: 70px;
            height: 64px;
            background: url(assets/images/chat.png) no-repeat;

            @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                only screen and (   min--moz-device-pixel-ratio: 1.5),
                only screen and (     -o-min-device-pixel-ratio: 3/2),
                only screen and (        min-device-pixel-ratio: 1.5),
                only screen and (min-resolution: 192dpi) {
                    background: url(assets/images/chat_2x.png) no-repeat;
                    background-size: 100%;
                }

            @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                only screen and (   min--moz-device-pixel-ratio: 1.5),
                only screen and (     -o-min-device-pixel-ratio: 3/2),
                only screen and (        min-device-pixel-ratio: 1.5),
                only screen and (min-resolution: 192dpi) {
                    background: url(assets/images/chat_3x.png) no-repeat;
                    background-size: 100%;
                }
        }
    }
}

.contact-form {
    height: 512px;
    background: url(assets/images/contact_form.jpg) no-repeat;
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center;

    .container {
        width: 100%;
        max-width: 960px;
        margin: 0 auto;
        padding-top: 50px;
    }

    h2 {
        margin: 0;
        color: #fff;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
    }

    p:first-of-type {
        margin: 0 0 20px;
        width: 100%;

        span {
            font-size: 14px;
            color: #fff;
        }
    }

    p {
        width: 49%;
        float: left;
        overflow: hidden;
        margin: 10px 0;
    }

    p:nth-of-type(2),
    p:nth-of-type(4) {
        margin-right: 2%;
    }

    input,
    select {
        width: 100%;
        height: 50px;
        float: left;
        border: 0;
        background: #fff;
        padding-left: 15px;

        &::-webkit-input-placeholder {
            font-size: 14px;
            color: #000;
            font-family: Raleway;
        }

        &:-moz-placeholder {
            font-size: 14px;
            color: #000;
            font-family: Raleway;
        }

        &::-moz-placeholder {
            font-size: 14px;
            color: #000;
            font-family: Raleway;
        }

        &:-ms-input-placeholder {
            font-size: 14px;
            color: #000;
            font-family: Raleway;
        }
    }

    p:nth-of-type(6) {
        width: 100%;
    }

    .message-field {
        width: 100%;
        height: 120px;
        resize: none;
        padding: 10px 15px;

        &::-webkit-input-placeholder {
            font-size: 14px;
            color: #000;
            font-family: Raleway;
        }

        &:-moz-placeholder {
            font-size: 14px;
            color: #000;
            font-family: Raleway;
        }

        &::-moz-placeholder {
            font-size: 14px;
            color: #000;
            font-family: Raleway;
        }

        &:-ms-input-placeholder {
            font-size: 14px;
            color: #000;
            font-family: Raleway;
        }
    }

    .submit-btn {
        width: 200px;
        height: 50px;
        background: #000;
        color: #fff;
        font-weight: 900;
        font-size: 18px;
        text-transform: uppercase;
        cursor: pointer;
    }
}

@media only screen and (max-width: 1280px) {
    .contact-block-single {
        width: 230px;
        height: 220px;
        margin-right: calc( (100% - 230px - 230px - 230px) / 2);

        .icon-space {
            height: 125px;
        }
    }
}

@media only screen and (max-width: 959px) {
    .contact-banner {
        height: 240px;
        background-size: 100% 100% !important;

        .banner-text1 {
            font-size: 30px !important;
        }

        .banner-text2 {
            font-size: 36px !important;
        }
    }

    .contact-main {
        padding-top: 30px;
    }

    h2 {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .contact-form {
        height: 464px;

        .container {
            padding-top: 30px;
        }
    }

    .wpcf7-form p:last-of-type {
        width: 100%;
        margin: 0;
    }

    .submit-btn {
        width: 100% !important;
    }
}

@media only screen and (max-width: 767px) {
    .contact-banner {
        height: 110px;
        background-size: 100% 100% !important;

        .container {
            padding-top: 33px;
        }

        .banner-text1 {
            font-size: 18px !important;
            text-align: center;
            margin-bottom: 5px;
        }

        .banner-text2 {
            font-size: 18px !important;
            text-align: center;
        }
    }

    .contact-main {
        padding-top: 15px;
    }

    h2 {
        margin-bottom: 5px;
    }

    .contact-blocks {
        margin-top: 10px;
        margin-bottom: 0;
    }

    .contact-block-single {
        width: 100%;
        height: 190px;
        margin-right: 0;
        margin-bottom: 10px;

        .icon-space {
            height: 100px;
        }
    }

    .contact-form {
        height: 600px;

        .container {
            padding-top: 15px;
        }
    }

    .wpcf7-form {

        h2 {
            font-size: 16px;
            text-align: center;
        }

        p:first-of-type {
            text-align: center;
        }

        p {
            width: 100%;
            margin-right: 0;
        }
    }

    .submit-btn {
        width: 100% !important;
    }
}
