.our-shops-banner {
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center;
    background: url(assets/images/our-shops-banner.jpg) no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    
    h2 {
        font-size: 40px;
        margin: 0;
        font-family: MontserratBold;
        text-transform: uppercase;
        color: #fff;
    }
}

.search-container {
    height: 850px;
    position: relative;

    .search-map {
        height: 850px;
        width: 100%;
    }

    .container {
        width: 360px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-470px);
        z-index: 2;
    }

    .search-box {
        position: relative;
        width: 360px;
        font-family: Arial, Helvetica, sans-serif;

        .search-page-form {
            height: 62px;
            background: #fff;

            .search-menu {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                height: 100%;
                width: 62px;
                float: left;
                border-right: 1px solid #e5e5e5;
                cursor: pointer;

                span {
                    display: block;
                    height: 3px;
                    width: 25px;
                    margin-bottom: 4px;
                    background: $darkRed;
                    border-radius: 1px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            form {
                float: left;
                width: calc(100% - 124px);
                height: 62px;
                border-right: 1px solid #e5e5e5;

                .input-wrapper {
                    display: block;
                    float: left;
                    height: 62px;
                    width: calc(100% - 60px);
                }

                .search-field {
                    width: 100%;
                    height: 100%;
                    font-size: 20px;
                    color: #a5a5a5;
                }
            }

            input {
                border: none;
                background: #fff;
                padding: 0 0 0 20px;
            }

            .search-submit {
                color: #fff;
                float: left;
                padding: 0;
                width: 18px;
                height: 18px;
                background: url(assets/images/search_icon_hover_2x.png) no-repeat;
                background-size: 100%;
                position: relative;
                left: 20px;
                top: 20px;

                @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                    only screen and (   min--moz-device-pixel-ratio: 1.5),
                    only screen and (     -o-min-device-pixel-ratio: 3/2),
                    only screen and (        min-device-pixel-ratio: 1.5),
                    only screen and (min-resolution: 192dpi) {
                        background: url(assets/images/search_icon_hover_3x.png) no-repeat;
                        background-size: 100%;
                    }

                @media  only screen and (-webkit-min-device-pixel-ratio: 2.5),
                    only screen and (   min--moz-device-pixel-ratio: 2.5),
                    only screen and (     -o-min-device-pixel-ratio: 5/2),
                    only screen and (        min-device-pixel-ratio: 2.5),
                    only screen and (min-resolution: 192dpi) {
                        background: url(assets/images/search_icon_hover_3x.png) no-repeat;
                        background-size: 100%;
                    }
            }

            .clear-menu {
                cursor: pointer;
                width: 62px;
                height: 100%;
                float: left;

                span {
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    background: url(assets/images/search-close.jpg) no-repeat;
                    background-size: 100%;
                    position: relative;
                    top: 20px;
                    left: 20px;
                    
                    @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                        only screen and (   min--moz-device-pixel-ratio: 1.5),
                        only screen and (     -o-min-device-pixel-ratio: 3/2),
                        only screen and (        min-device-pixel-ratio: 1.5),
                        only screen and (min-resolution: 192dpi) {
                            background: url(assets/images/search-close_2x.jpg) no-repeat;
                            background-size: 100%;
                        }
    
                    @media  only screen and (-webkit-min-device-pixel-ratio: 2.5),
                        only screen and (   min--moz-device-pixel-ratio: 2.5),
                        only screen and (     -o-min-device-pixel-ratio: 5/2),
                        only screen and (        min-device-pixel-ratio: 2.5),
                        only screen and (min-resolution: 192dpi) {
                            background: url(assets/images/search-close_3x.jpg) no-repeat;
                            background-size: 100%;
                        }
                }
                
                &:hover {
                    
                    span {
                        background: url(assets/images/search-close_hover.jpg) no-repeat;
                        background-size: 100%;
                        
                        @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                            only screen and (   min--moz-device-pixel-ratio: 1.5),
                            only screen and (     -o-min-device-pixel-ratio: 3/2),
                            only screen and (        min-device-pixel-ratio: 1.5),
                            only screen and (min-resolution: 192dpi) {
                                background: url(assets/images/search-close_hover_2x.jpg) no-repeat;
                                background-size: 100%;
                            }
        
                        @media  only screen and (-webkit-min-device-pixel-ratio: 2.5),
                            only screen and (   min--moz-device-pixel-ratio: 2.5),
                            only screen and (     -o-min-device-pixel-ratio: 5/2),
                            only screen and (        min-device-pixel-ratio: 2.5),
                            only screen and (min-resolution: 192dpi) {
                                background: url(assets/images/search-close_hover_3x.jpg) no-repeat;
                                background-size: 100%;
                            }
                    }
                }
            }
        }

        .search-results {
            height: auto;
            min-height: 52px;
            max-height: 738px;
            overflow: hidden;
            margin: 1px 0;

            .search-result-single {
                @include clearfix;
                background: #fff;
                height: 246px;
                padding: 20px;
                position: relative;
                margin-bottom: 1px;
                
                &:last-of-type {
                    margin-bottom: 0;
                }

                &.visible {
                    display: block;
                }

                &.hidden {
                    display: none;
                }

                h2 {
                    margin: 0;
                    font-size: 20px;
                    color: $blackGrey;
                    display: inline-block;
                }

                .search-result-info {
                    float: left;
                }

                .search-result-image {
                    width: 96px;
                    height: 96px;
                    position: absolute;
                    right: 20px;
                    top: 35px;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }

                .address,
                .open-hours,
                .phone {
                    height: 21px;
                    margin-bottom: 14px;
                    display: -webkit-box;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-box-align: center;
                    -webkit-flex-align: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;
                    margin-top: 20px;
                    line-height: 1.1;
                    
                    .text {
                        font-size: 15px;
                        font-family: Arial, Helvetica, sans-serif;
                        color: $blackGrey;
                        display: block;
                        width: -webkit-calc(100% - 40px);
                        width: calc(100% - 40px);
                    }
                }

                .address {
                    width: 210px;

                    .icon {
                        display: inline-block;
                        width: 21px;
                        height: 15px;
                        background: url(assets/images/envelope_new_red.png) no-repeat;
                        background-size: 100%;
                        margin-right: 19px;

                        @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                            only screen and (   min--moz-device-pixel-ratio: 1.5),
                            only screen and (     -o-min-device-pixel-ratio: 3/2),
                            only screen and (        min-device-pixel-ratio: 1.5),
                            only screen and (min-resolution: 192dpi) {
                                background: url(assets/images/envelope_new_red_2x.png) no-repeat;
                                background-size: 100%;
                            }

                        @media  only screen and (-webkit-min-device-pixel-ratio: 2.5),
                            only screen and (   min--moz-device-pixel-ratio: 2.5),
                            only screen and (     -o-min-device-pixel-ratio: 5/2),
                            only screen and (        min-device-pixel-ratio: 2.5),
                            only screen and (min-resolution: 192dpi) {
                                background: url(assets/images/envelope_new_red_3x.png) no-repeat;
                                background-size: 100%;
                            }
                    }
                }
                
                .phone {
                    width: 210px;

                    .icon {
                        display: inline-block;
                        width: 16px;
                        height: 22px;
                        background: url(assets/images/phone_contact_new_red.png) no-repeat;
                        background-size: 100%;
                        margin-right: 22px;
                        margin-left: 2px;
                        

                        @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                            only screen and (   min--moz-device-pixel-ratio: 1.5),
                            only screen and (     -o-min-device-pixel-ratio: 3/2),
                            only screen and (        min-device-pixel-ratio: 1.5),
                            only screen and (min-resolution: 192dpi) {
                                background: url(assets/images/phone_contact_new_red_2x.png) no-repeat;
                                background-size: 100%;
                            }

                        @media  only screen and (-webkit-min-device-pixel-ratio: 2.5),
                            only screen and (   min--moz-device-pixel-ratio: 2.5),
                            only screen and (     -o-min-device-pixel-ratio: 5/2),
                            only screen and (        min-device-pixel-ratio: 2.5),
                            only screen and (min-resolution: 192dpi) {
                                background: url(assets/images/phone_contact_new_red_3x.png) no-repeat;
                                background-size: 100%;
                            }
                    }
                }

                .open-hours {
                    width: 260px;

                    .icon {
                        display: inline-block;
                        width: 22px;
                        height: 23px;
                        background: url(assets/images/new-clock-icon.png) no-repeat;
                        background-size: 100%;
                        margin-right: 18px;

                        @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                            only screen and (   min--moz-device-pixel-ratio: 1.5),
                            only screen and (     -o-min-device-pixel-ratio: 3/2),
                            only screen and (        min-device-pixel-ratio: 1.5),
                            only screen and (min-resolution: 192dpi) {
                                background: url(assets/images/new-clock-icon_2x.png) no-repeat;
                                background-size: 100%;
                            }

                        @media  only screen and (-webkit-min-device-pixel-ratio: 2.5),
                            only screen and (   min--moz-device-pixel-ratio: 2.5),
                            only screen and (     -o-min-device-pixel-ratio: 5/2),
                            only screen and (        min-device-pixel-ratio: 2.5),
                            only screen and (min-resolution: 192dpi) {
                                background: url(assets/images/new-clock-icon_3x.png) no-repeat;
                                background-size: 100%;
                            }
                    }

                    .open-hours-optional {
                        display: block;
                    }
                }
            }
            
            .learn-more {
                clear: both;
                display: block;
                height: 46px;
                line-height: 46px;
                background: #f8f8f8;
                text-align: center;
                color: $darkRed;
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 700;
                position: relative;
                top: 6px;
                
                &:hover {
                    background: $veryDarkRed;
                    color: #fff;
                }
                
                &.disabled {
                    cursor: default;
                    pointer-events: none;
                }
            }

            .no-results-msg {
                text-align: center;
                height: 50px;
                line-height: 50px;

                span {
                    font-size: 14px;
                    color: #000;
                    font-weight: 700;
                    display: inline-block;
                    font-family: Raleway;
                }
            }
        }

        .search-footer {
            height: 48px;
            color: #a5a5a5;
            background: #fff;
            line-height: 48px;
            font-size: 16px;
            padding-left: 20px;
            position: relative;
            margin-top: 1px;

            .results-count {
                font-weight: 400;
            }
        }

        .controls {
            position: absolute;
            top: 0;
            right: 20px;

            .right, 
            .left {
                display: inline-block;
                font-family: WebSymbols;
                font-size: 16px;
                color: #828282;
                cursor: pointer;
                
                &:hover {
                    color: $darkRed;
                }
            }
            
            .left {
                margin-right: 10px;
            }
        }
    }

    .location_listing7,
    .location_pagination7 {
        display: none !important;
    }
}

.search-results-mobile {
    display: none;
}

@media only screen and (max-width: 960px) {
    .our-shops-banner {
        height: 290px;
    }
    
    .search-container {

        .container {
            left: 0;
            transform: none;
            padding: 0;
        }
    }
}

@media only screen and (max-width: 767px) {
    .our-shops-banner {
        height: 174px;
        
        h2 {
            font-size: 20px;
        }
    }
    
    .search-container .container {
        width: 100%;
    }

    .search-container .search-box {
        width: 100%;

        .search-page-form {

            form {

                .search-field {
                    font-size: 18px;
                }
            }
        }

        .search-results {
            max-height: 246px;
        }

        .search-footer {
            margin-top: 1px;
        }
    }
}
