/* ==========================================================================
   Variables
   ========================================================================== */

// Font Face
// @include fontface('FONT_NAME', 'assets/fonts/', 'FONT_FAMILY');

// Structure
$pageWidth: 100%;

// Text Selection
$selectionColor: grey;

// Colors
$red: #d71d30;
$darkRed: #d92738;
$veryDarkRed: #c31e2e;
$blackGrey: #0c0c0c;
$blue: blue;
